

@media (max-width: 945px){  
    footer {
        text-align: center
    }
    #footerP {
        padding-left: 25px;
        padding-right: 25px;
    }
}
    
    .ion-icon {
        color: #3da8e6;
        font-size: 22px;
        padding: 20px;
    }
    
    .ion-icon:hover {
        color: white;
    }
    
    #footerP {
        color: white;
        line-height: 25px;
    }
    
    #Hfooter {
        color: white;
        font-size: 18px;
    
    }
    
    .footer-top {
        padding-top: 100px;
        background: url('../images/grunge.png'), linear-gradient(to right,  #000000, #19388b);
        /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
        
    }
    
    .segment-one h3 {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        color: white;
        letter-spacing: 3px;
        margin: 10px 0;
    }
    
    .segment-two h2 {
        color: #ffffff;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    
    .segment-two h2::before {
        content: '|';
        color: #3da8e6;
        padding-right: 10px;
    }
    
    .segment-two ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .segment-two ul li {
        line-height: 5px;
        color: white;
    }
    
    .segment-two ul li a {
        color: white;
        text-decoration: none;
    }
    
    .segment-three h2 {
        color: #ffffff;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    
    .segment-three h2::before {
        content: '|';
        color: #3da8e6;
        padding-right: 10px;
    }
    
    @media (max-width: 575px){
    .segment-three {
        padding-bottom: 30px;
    }}
    
    @media (max-width: 575px){
    .segment-two {
        padding-bottom: 30px;
    }}
    
    @media (max-width: 575px){
    .segment-four {
        padding-bottom: 30px;
    }}
    
    #submit:hover {
        color: #19388b;
        background-color: white;
    }
    
    @media (min-width: 575px){
    #submit {
        font-size: 14px;
    }
    }
    
    .segment-four form input[type=submit]{
        background: transparent;
        border: solid white;
        padding: 3px 15px;
        margin-left: -5px;
        color: white;
        text-transform: uppercase;
    }
    
    .footer-bottom-text {
        padding-top: 20px;
        text-align: center;
        color:#19388b ;
        background-color: #000000;
        line-height: 75px;
    }
    
    .nav-link:hover {
        color: #3da8e6;
    }
    
    /* sub button */
    #subInput {
        height: 45px;
        border-radius: 5px;
        padding: 0 15px;
        background: rgba(255, 255, 255, 0.267);;
        font-family: Montserrat-Bold;
        font-size: 14px;
        line-height: 1.5;
        border: none;
        color: white;
        /* padding-right: 90px; */
        width: 240px;
        }
    
        /* #subInput[type=text] {
         } */
    
        /* @media (max-width: 945px){
            #subInput {
                margin-left: 30px;
            }
        } */
    
        
        #subInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: rgb(255, 255, 255);
          opacity: 1; /* Firefox */
        }
        
        #subInput:hover {
          background: rgba(255, 255, 255, 0.178);
          font-family: Montserrat-Bold;
          line-height: 1.5;
          color: white;
          }
    
          #submitSub {
              height: 45px;
              width: 100px;
              background-color: #3da8e6;
              border-radius: 5px;
              border: transparent;
            color: white;
            position: absolute;
            }
    
            #submitSub:hover {
                background-color: transparent;
                border: solid #3da8e6;
              }
    
              .btnContainer {
                width: 20rem;
                /* padding-right: 50px; */
                background-color: var(--main-color);
                text-align: center;
                /* border-radius: 3rem; */
                overflow: hidden;
                display: flex;
                transition: width .4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
                display: block;
                margin-right: auto;
                margin-left: auto;
              }
    
              #subForm {
                display: flex;
              }
    
              .space {
                padding-left: 50px;
              }