/* Navbar Scroll */
.bg-dark {
    background-color: transparent !important;
}

.bg-dark.scrolled {
    background-color: black !important;
}

/* Hamburger background-color change on click */
.navbar-dark .navbar-toggler:active {
    background: #3da8e6;
    ;
}

.navbar-toggle.collapsed {
    background-color: #3da8e6 !important;
}

.navbar-dark:hover {
    color: #3da8e6;
}
 
/* Navbar menu options */
#nav-color {
    color: white;
    font-weight: bold;
    font-size: 1.15rem;
    font-family: 'Nunito', sans-serif!important;
    padding-left: 30px;
}

.navbar-brand {
    padding-right: 150px;
}

.nav-item {
    padding: 12px;
}

/* Move NavMenu to the right */
#navMenu {
    padding-left: 100px!important;
    font-family: 'Nunito', sans-serif!important;
}

@media (max-width: 575px){
    #navbarMenu {
        background-color: black;
    }
}

.navbar {
    padding-left: 70px!important;
}

@media (max-width: 575px){
.navbar {
    padding-left: 10px!important;
}
.navMenu {
    padding-left: 100px!important;
}
}