body {
    background-color: #000000 !important;
    width: 100%!important;
}

/* Large Screens */
@media (min-width: 1000px){
    #top {
        padding-top: 70px;
    }
     #img {
        padding-top: 20px;
    }
}

/* Small Screens */
@media (max-width: 945px){
    body {
        width: 100%;
    }
    .phone-2 {
        padding-top: 20px;
    }
}

@media (max-width: 768px){  
    .masthead { 
        padding-left: 30px;
        padding-right: 30px;
        /* padding-top: 20px; */
        padding-bottom: 300px;
        position: relative;
    }  
    .phone-2 {
        padding-left: 65px;
        padding-right: 65px;
        padding-bottom: 0px;
        width: 100%;
        position: absolute;
        }
    
    #service {
        padding-bottom: 50px!important;
        position: relative
    }
    }
    
    @media (max-width: 363px){
        .phone-2 {
            /* padding-left: 32px;
            padding-right: 32px;
            padding-bottom: 0px;
            width: 100%;
            position: absolute; */
            display: none;
            }
            .masthead {
                padding-bottom: 0px!important;
            }
      }

.masthead {
    position: relative;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 65px;
    color: white;
    background: url('../images/grunge.png'), linear-gradient(to right,  #000000, #19388b);
    background: url('../assets/bg-pattern.png'), linear-gradient(to center, #19388b, #3da8e6);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.phone-2 {
    padding-bottom: 0px;
}

