body {
    background-color: #000000 !important;
    width: 100%!important;
}

@media (max-width: 575px){
    body {
        width: 100%;
    }
}

 /* Navbar Scroll */
 .bg-dark {
    background-color: transparent !important;
}

.bg-dark.scrolled {
    background-color: black !important;
}

/* Hamburger background-color change on click */
.navbar-dark .navbar-toggler:active {
    background: #3da8e6;
    ;
}

.navbar-toggle.collapsed {
    background-color: #3da8e6 !important;
}

.navbar-dark:hover {
    color: #3da8e6;
}

.navbar-brand {
    padding-right: 150px;
}

.nav-item {
    padding: 12px;
}

@media (max-width: 575px){
    #navbarMenu {
        background-color: black;
    }
}

.navbar {
    padding-left: 50px!important;
}

.navMenu {
    padding-left: 70px!important;
}

@media (max-width: 575px){
.navbar {
    padding-left: 0px!important;
}
.navMenu {
    padding-left: 100px!important;
}
}

.ion-icon {
    color: white;
    font-size: 22px;
    padding: 20px;
}

.ion-icon:hover {
    color: #3da8e6;
}

.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  color: white;
  background: url('../assets/images/grunge.png'), linear-gradient(to right,  #000000, #19388b);
  background: url('../assets/images/bg-pattern.png'), linear-gradient(to center, #19388b, #3da8e6);
}

@media (max-width: 575px){
    .top {
        text-align: center;
        padding-bottom: 60px;
    }
}

.phone-2 {
    box-shadow: 0 27px 37px 0 rgba(0,2,0,0.2);
}

@media (max-width: 575px){
    .phone-2 {
    width: 270px;
    height: 550px;
    }
}

    /* Cool Buttons */
    .btn {
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: 2px solid #e74c3c;
        border-radius: 0.6em;
        color: #e74c3c;
        cursor: pointer;
        display: flex;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        font-weight: 400;
        line-height: 1;
        margin: 10px;
        padding: 1.2em 2.8em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
          /* display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox; */
    }

    .btn:hover,
    .btn:focus {
        color: #fff!important;
        outline: 0;
    }

    .third {
        border-color: #3da8e6;
        color: #fff;
        box-shadow: 0 0 40px 40px #3da8e6 inset, 0 0 0 0 #3da8e6;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
        font-size: 18px!important;
        height: 60px;
        width: 200px;
        border-radius: 35px!important;
    }

.third:hover {
        box-shadow: 0 0 10px 0 #3da8e6 inset, 0 0 10px 4px #3da8e6;
        color: white;
}



.fourth {
        border: 3px solid #3da8e6!important;
        color: #fff!important;
        background-image: -webkit-linear-gradient(45deg, #3da8e6 50%, transparent 50%);
        background-image: linear-gradient(45deg, #3da8e6 50%, transparent 50%);
        background-position: 100%;
        background-size: 400%;
        -webkit-transition: background 300ms ease-in-out!important;
        transition: background 300ms ease-in-out!important;
        font-size: 17px!important;
        height: 60px;
        width: 220px;
        border-radius: 15px!important;
}
    
.fourth:hover {
        background-position: 0!important;
        color: #050e27!important;
}    
    /* Cool Buttons End */

#topButton {
    background-color: white;
    color:  #19388b;
    border: transparent;
    font-weight: bold;
}

#topButton:hover {
    opacity: 40%;

}

.top {
    padding-top: 70px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.lead {
    padding-bottom: 40px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

/* service boxes */
#iconBars {
    padding-top: 30px;
}

section {
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #f1f4fa;
}

.wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    /* box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 9px 21px 0 rgba(0,2,0,0.2);
    margin-bottom: 2rem;
}

.wrap:hover {
    background: linear-gradient(135deg, #6394ff 0%, #0a193b 100%);
    color: white;
}

.ico-wrap {
    margin: auto;
}

#boxicons {
    height: 80px;
    width: 60px;
    padding-right: 15px;
}

.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}

.vcenter {
    margin: auto;
}

.mbr-section-title3 {
    text-align: left;
}

h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.display-5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
}

.mbr-bold {
    font-weight: 700;
}

p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}

.display-6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1re
}
/* service boxes end */


/* Footer Stylesheet */
@media (max-width: 575px){
footer {
    text-align: center;
}}

.ion-icon {
    color: #3da8e6;
    font-size: 22px;
    padding: 20px;
}

.ion-icon:hover {
    color: white;
}

#footerP {
    color: white;
    line-height: 25px;
}

#Hfooter {
    color: white;
    font-size: 18px;

}

.footer-top {
    padding-top: 100px;
    background: url('../assets/images/grunge.png'), linear-gradient(to right,  #000000, #19388b);
    
}

.segment-one h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: white;
    letter-spacing: 3px;
    margin: 10px 0;
}

.segment-two h2 {
    color: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.segment-two h2::before {
    content: '|';
    color: #3da8e6;
    padding-right: 10px;
}

.segment-two ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-two ul li {
    line-height: 5px;
    color: white;
}

.segment-two ul li a {
    color: white;
    text-decoration: none;
}

.segment-three h2 {
    color: #ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.segment-three h2::before {
    content: '|';
    color: #3da8e6;
    padding-right: 10px;
}

@media (max-width: 575px){
.segment-three {
    padding-bottom: 30px;
}}

@media (max-width: 575px){
.segment-two {
    padding-bottom: 30px;
}}

@media (max-width: 575px){
.segment-four {
    padding-bottom: 30px;
}}

@media (min-width: 575px){
#email {
    border-radius: 5px;
    height: 33px;
    width: 60%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}
}

#submit:hover {
    color: #19388b;
    background-color: white;
}

@media (min-width: 575px){
#submit {
    font-size: 14px;
}
}

.segment-four form input[type=submit]{
    background: transparent;
    border: solid white;
    padding: 3px 15px;
    margin-left: -5px;
    color: white;
    text-transform: uppercase;
}

.footer-bottom-text {
    padding-top: 20px;
    text-align: center;
    color:#19388b ;
    background-color: #000000;
    line-height: 75px;
}

/* End of Homepage */

/* Contact Page */

/* Contact Form */
#form {
    border-radius: 5px;
    padding: 20px;
    width: 30%;
}

@media (max-width: 575px){
#form {
    width: 100%;
}
}


#info {
    border-radius: 5px;
    width: 30%;
    padding: 20px;
}
@media (max-width: 575px){
#info {
    width: 100%;

}
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Wave CSS */
/* body {
    background-color: #f1f4fa!important;
} */
/* 
.wave {
    background-color: transparent;
    position: relative;
}

.wave::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: url(assets/images/curve.png);
} */

/* Wave CSS End */

#contact {
    text-align: center;
}

.h {
    font-weight: bold;
    text-align: center;
}

/* #formContainer {
    margin-top: -140px;
} */

/* Cool Buttons */
.submit {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-weight: 400;
    line-height: 1;
    margin: 10px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
      /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox; */
}

.submit:hover,
.submit:focus {
    color: #fff!important;
    outline: 0;
}

#contactbutton {
    border: 3px solid #3da8e6!important;
    color: white!important;
    background-color:  #19388b!important;
    background-image: -webkit-linear-gradient(45deg, #3da8e6 50%, transparent 50%);
    background-image: linear-gradient(45deg, #3da8e6 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out!important;
    transition: background 300ms ease-in-out!important;
    font-size: 17px!important;
    height: 60px;
    width: 220px;
    border-radius: 15px!important;
}

#contactbutton:hover {
    background-position: 0!important;
    color: #050e27!important;
}    
/* button end */

#contaction {
height: 60px;
width: 40px;
}

